html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
ul{
    display: flex;
    /* background-color: rgb(32, 32, 32); */
    /* color: aliceblue; */
    margin: 0;
    padding: 15px 0;
}
ul li{
    list-style: none;
    margin: 0 23px;
}